html 
    head 
        title Create Competition
        style 
            include ./public/css/view.css 
            include ./public/css/navbar.css 
            include ./public/css/comp.css 
    body
        div(class = "navbar")
            div(class = "welcome")
                h2(class = "welcomeText") Welcome
                if user
                    h2(class = "welcomeText") #{user.name}
                else
                    h2(class = "welcomeText") Anonymous

            div(class = "bttnItem")
                a(href='/create')
                    input(type = 'button' id='btnCreate' value='Create Schedule' class = 'button')
            div(class = "bttnItem")
                a(href='/main')
                    input(type = 'button' id='btnView' value='View Schedule' class = 'button')
            div(class = "bttnItem")
                form(action="/logout", method="get" class ='formbttn')
                    input(type="submit" value="Logout" class = 'button logout')
        div(class = 'bodyComp')
            div(class = 'newSchedule')
                    h1(class ='comp_name' style = 'border-bottom: 1px solid #5e256e;') #{koloRows[0].comp_name}
                    span(style = 'font-size: 22px;') URL:   
                    a(class = 'url' href = `${koloRows[0].url}`) #{koloRows[0].url}
                    form(action=`/submit-update/${id}`, method="post", class = 'form', onsubmit="return validateForm();")
                        div(class = 'table')
                            table
                                tr                               
                                    th Kolo-Number
                                    th First Competitor
                                    th Second Competitor
                                    if user 
                                        th(colspan="2") SELECT WINNER
                                each item in koloRows 
                                    tr 
                                        th= item.kolo_num 
                                        th= item.pers1_name 
                                        th= item.pers2_name
                                        if user
                                            th
                                                select(name=`winner_${item.kolo_id}`)
                                                    option(value="undefined")
                                                    option(value=`${item.id_player1}`, selected=(item.winner === item.id_player1))= item.pers1_name
                                                    option(value=`${item.id_player2}`, selected=(item.winner === item.id_player2))= item.pers2_name
                                                    option(value="remi", selected=(item.remi === true))= 'Remi'

                                                   
                                                        
                            h2 Points
                            table 
                                tr 
                                    th Victory 
                                    th Defeat
                                    th Remi
                                tr 
                                    if user
                                        th 
                                            input(type = 'numbers', name = "victory", step = '0.01' value = `${koloRows[0].victory_points}`,  oninput="validateInput(this);")
                                        th 
                                            input(type = 'numbers', name = "defeat", step = '0.01' value = `${koloRows[0].defeat_points}`,  oninput="validateInput(this);")
                                        th 
                                            input(type = 'numbers', name = "remi", step = '0.01' value = `${koloRows[0].remi_points}`,  oninput="validateInput(this);")
                                    else 
                                        th #{koloRows[0].victory_points}
                                        th #{koloRows[0].defeat_points}
                                        th #{koloRows[0].remi_points}
                            if user
                                input(type="submit", class = 'buttonSubmit' id="btnSubmit", value="Submit") 
                            h2 Rank 
                            table 
                                tr 
                                    th #
                                    th Name 
                                    th Points
                                each pers, index in personPoints 
                                    tr 
                                        th=index+1
                                        th=pers.name 
                                        th=pers.points
        script 
            include ./public/js/site.js