html 
    head 
        title Create Competition
        style 
            include ./public/css/create.css 
            include ./public/css/navbar.css 
    body
        div(class = "navbar")
            div(class = "welcome")
                h2(class = "welcomeText") Welcome
                h2(class = "welcomeText") #{userJSON.name}

            div(class = "bttnItem")
                a(href='/create')
                    input(type = 'button' id='btnCreate' value='Create Schedule' class = 'button')
            div(class = "bttnItem")
                a(href='/main')
                    input(type = 'button' id='btnView' value='View Schedule' class = 'button')
            div(class = "bttnItem")
                form(action="/logout", method="get" class ='formbttn')
                    input(type="submit" value="Logout" class = 'button logout')

        div(class = "body-create")
            div(class="create-form-div", style="display:" + loginFormStyle)
                h1(class = "create-text") Create Competition Schedule
                form(action="/submit-form", method="post", class = 'form' onsubmit = "return validateForm(this);")
                    div(class = 'form-item')
                        label(for="compName" style = 'font-size: 20px;') Competition Name:
                        input(type="text", id="compName", name="compName", required, placeholder="required" style = "height:40px") 
                    div(class = 'form-item') 
                        label(for="player-name" class='player-name-text') Players:
                        textarea(class="players", name="players", placeholder="Player 1; Player2\n or\nPlayer 1 \nPlayer 2\nMinimal 4 players", rows = '8', cols = '10', required)
                    div(class = 'form-item')     
                        label(for="points" style = 'font-size: 20px;') Victory/Remi/Defeat points:
                        input(type="text", id="points", name="points", required, placeholder="0/0/0" style = "height:40px") 
                    
                    input(type="submit", class = 'buttonSubmit' id="btnSubmit", value="Submit") 
                script.
                    function validateForm(form) {
                        var competitionName = form.compName.value;
                        if (competitionName.trim() === '') {
                            alert("Competition Name is required.");
                            return false;
                        }

                        var players = form.players.value;
                        var playersArr = players.split(/[;\n]/).map(function(player) {
                            return player.trim();
                        });
                        playersArr = playersArr.filter((str) => str.trim() !== "");

                        if (playersArr.length < 4 || playersArr.length > 8) {
                            alert("Players must be in range 4 - 8.");
                            return false;
                        }

                        var points = form.points.value;
                        if (!/^\d+(\.\d+)?\/\d+(\.\d+)?\/\d+(\.\d+)?$/.test(points)) {
                            alert("Points must be in the format 'victory/remi/defeat'.");
                            return false;
                        }

                        return true;
                    }
                if (err)
                    div(style = 'color: red; text-align:center; font-size: 20px;') Please enter at least 4 players
        
            if (created)
                div(class = 'newSchedule')
                    h2(class ='comp_name' style = 'border-bottom: 1px solid #5e256e;') Last created competition schedule
                    h3(class = 'comp_name') #{koloRows[0].comp_name}
                    a(class = 'url' href = `${koloRows[0].url}`) #{koloRows[0].url}
                    div(class = 'table')
                        table
                            tr                               
                                th Kolo-Number
                                th First Competitor
                                th Second Competitor
                            each item in koloRows 
                                tr 
                                    th= item.kolo_num 
                                    th= item.pers1_name 
                                    th= item.pers2_name 
                        h4 Points
                        table 
                            tr 
                                th Victory 
                                th Defeat
                                th Remi
                            tr 
                                th #{koloRows[0].victory_points}
                                th #{koloRows[0].defeat_points}
                                th #{koloRows[0].remi_points}



