html 
    head 
        title LogIn
        style 
            include ./public/css/home.css
    body
        div(class = "dot")
        div(class = "container")            
            div
                if username
                    h1(style="font-size: 18px;") Welcome #{username}
                else 
                    h1 Welcome To Competition Site
                ul              
                    if username
                        form(action="/logout", method="get")
                            input(type="submit", value="Logout " + username, class = 'button')
                    else
                        form(action="/sign-up" method="get")
                            button(type="submit", class = 'button') Sign up / Login
