html 
    head 
        title MainPage
        style 
            include ./public/css/navbar.css 
            include ./public/css/view.css 
    body
        div(class = "navbar")
            div(class = "welcome")
                h2(class = "welcomeText") Welcome
                h2(class = "welcomeText") #{userJSON.name}

            div(class = "bttnItem")
                a(href='/create')
                    input(type = 'button' id='btnCreate' value='Create Schedule' class = 'button')
            div(class = "bttnItem")
                a(href='/main')
                    input(type = 'button' id='btnView' value='View Schedule' class = 'button')
            div(class = "bttnItem")
                form(action="/logout", method="get" class ='formbttn')
                    input(type="submit" value="Logout" class = 'button logout')
        div(class = "viewBody")
            div(class = 'title-container')
                h2(class = "title") Competitions
            div(class = 'table')
                if rows.length == 0
                    h3 Go create schedule
                else 
                    table 
                        tr 
                            th #
                            th Competition name 
                            th LINK
                        each row, index in rows
                            tr 
                                th=index+1
                                th=row.name 
                                th 
                                    a(href=`${row.url}`) Enter
                

           
        
