.bodyComp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newSchedule {
    text-align: center;
}

.comp_name{
    text-align: center;
    padding: 5px;
}

.url{
    text-align: center;
    text-decoration: none;
    color: #5e256e;
    padding: 5px;
    font-size: 20px;
}

th{
    border: 1px solid black;
}

.table{
    margin-top: 20px;
}
h2{
    border-bottom: 1px solid #5e256e;
    margin-bottom: 20px;
}

input{
    text-align: center;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

/* Default style for buttons */
.button-winner {
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  select {
    width: 150px; 
    padding: 5px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #f8f8f8; 
    color: #5e256e; 
    font-size: 20px; 
  }


  select option:checked {
    background-color: #5e256e; 
    color: #fff; 
    
  }

  .buttonSubmit{
    background-color: #5e256e;
    color: white;
    border-radius: 4px;
    border: 5px solid #5e256e;
    padding: 16px 32px;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    transition-duration: 0.4s;

}

.buttonSubmit:hover{
    background-color: #a028c1; 
    border: 5px solid #a028c1;
}