.create-text{
    border-bottom: 1px solid #5e256e;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-bottom: 10px;
}

.body-create{
    margin: 20px;
    margin-top: 50px;
}

.competition-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

.form-item{
    display: grid;
    grid-template-columns: 1 1;
    align-items: center;
    margin: 5px 0;
}

.player-name-text{
    font-size: 20px;
}

.buttonSubmit{
    background-color: #5e256e;
    color: white;
    border-radius: 4px;
    border: 5px solid #5e256e;
    padding: 16px 32px;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    transition-duration: 0.4s;

}

.buttonSubmit:hover{
    background-color: #a028c1; 
    border: 5px solid #a028c1;
}

.score{
    display: flex;
    flex-direction: column;
}

.newSchedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comp_name{
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.url {
    font-size: 18px;
    font-style:oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#5e256e;
}

table{
    margin: 20px;
    display: flex;
    justify-content: center;
}

th{
    border: 1px solid #5e256e;
    padding: 10px;
}

h4{
    display: flex;
    justify-content: center;
}

