.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 999;
}

.dot{
    height: 70vh;
    width: 70vh;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: -999;
    border: 5px solid #5e256e;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e3e3;    
}

h1{
    font-size: 24px;
    border-bottom: 1px solid #5e256e;
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.button{
    background-color: #5e256e;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: -30px;  
    transition-duration: 0.4s;

}

.button:hover{
    background-color: #a028c1; /* Green */
}

