html,body {
    height:100%;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #ece8f1;  
}

.navbar{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(224, 204, 252);
    border-radius: 4px;
    margin: 10px;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeText{
    font-size: 20px;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5e256e;
}

.formbttn{
    margin: 0;
    padding: 0;
}

.button{
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 20px;
    border: none;
    background-color: rgb(237, 225, 255);
    color: #5e256e;
    transition-duration: 0.4s;
}

.button:hover{
    background-color: #a028c1;
    color: white;
    border-radius: 5px;
}

