.viewBody{
    
}

.title-container{
    display: flex;
    justify-content: center;
}

.title{
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5e256e;
    border-bottom: 1px solid #5e256e;
}
.table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

th{
    padding: 7px 30px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th a{
    text-decoration: none;
    color: white;
    border: 1px solid #5e256e;
    border-radius: 4px;
    background-color: #5e256e;
    padding: 2px;
    margin: 10px 0px;
    transition-duration: 0.4s;
}

th a:hover{
    background-color: #a028c1;
    border: 1px solid #a028c1;
}